<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pulsekit.app"
    android:versionCode="156"
    android:versionName="156.0">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="33" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
  <queries>
    <package android:name="com.termux" />
  </queries>
  <application
      android:label="Pulsekit"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:largeHeap="true"
      android:theme="@style/Pulsekit">
    <activity
        android:name="pulsekit.MainActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:configChanges="orientation|screenSize|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
